@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#img{
    
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('image/83f357b9286cf1ea046be49163cc155e.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}