<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light"  >
        <a class="navbar-brand" href="menu.html">Uber</a>
    <a class="navbar-brand" href="loginCliente.html">Login</a>
      </nav><br><br>
<div style="text-align: center;" style="color: rgb(0, 0, 0);"> <h1>Atualizar Dados</h1><br><br></div>
    <form action="atualizarCliente.html" method="POST">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label id="cpf" name="lCpf" style="color: rgb(0, 0, 0);" >CPF:</label>
        <input type="number"  class="form-control" name="tCpf" id="tCpf" placeholder="Informe seu CPF:" ><br><br>
      </div>
      <div class="form-group">
        <label  >Campo:</label>
        <select name="tCampo">
            <option value="nome">Nome</option>
            <option value="telefone">Telefone</option>
            <option value="endereco">Endereço</option>

        </select>
        <br><br>
      </div>
      <div class="form-group">
        <label  style="color: rgb(0, 0, 0);" >Novo Dado:</label>
        <input type="text"  class="form-control" name="tNovoDado" id="tCpf"  ><br><br>
      </div>
      <div style="text-align:center">
        <button type="submit " class="btn btn-dark" style="width: 300px;" > Atualizar </button><br><br></a>
        
      </div>
      <div style="text-align:center">
      <a href="menuCliente.html"><button type="button" class="btn btn-dark" style="width: 300px;" > Voltar </button><br><br></a>
    </div>



    </form>
    <div style="text-align: center;" style="color: rgb(0, 0, 0);"> <h6>{{ resultado }}</h6><br><br></div>
</body>
</html>

