<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body class="container-fluid" style="background-color: rgb(253, 250, 250);">
  <nav class="navbar navbar-light bg-light"  >
    <a class="navbar-brand" href="menu.html">Uber</a>
    <a class="navbar-brand" href="loginCliente.html">Login</a>
  </nav><br><br>
  
<div style="text-align: center;" style="color: rgb(0, 0, 0);"> <h1>Login Motorisra</h1><br><br></div>
  <div class="container-md">
    <div class="row">
			<form role="form" action="loginMotorista.html" method="post">
				<div class="row">
					<div class="col-md-4 col-lg-4"></div>
					<div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label id="cpf" name="lCpf" style="color: rgb(0, 0, 0);" >CPF:</label>
                <input type="number"  class="form-control" name="tCpf"  placeholder="Informe seu CPF:" ><br>
                <label id="senha" name="lSenha" style="color: rgb(0, 0, 0);" >Senha:</label>
                <input type="text"  class="form-control" name="tSenha"  placeholder="Informe sua Senha:" ><br>
              </div>
              
              <div style="text-align:center">
                <a href="/Templates/menuCliente.html"> <button type="submit" class="btn btn-dark" style="width: 300px;" > Entrar </button><br><br></a>
                <a href="menu.html" ><button type="button" style="width: 300px;" class="btn btn-dark"> Voltar</button></a><br><br>
        </div>

    </div>
  </div>
</div>
</body>
</html>